# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Debug floder
Debug/

# Release folder
Release/

# etc files
*.sdf
*.opensdf
*.sav

# VS solution user option file
*.suo
